body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex; /* Tambahan untuk layout flex */
    align-items: center; /* Vertikal center */
    justify-content: center; /* Horizontal center */
}

.logo {
    width: 80px; /* Ukuran logo, sesuaikan */
    height: auto;
    margin-right: 20px; /* Jarak dari judul */
}

nav {
    text-align: center;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}